* {
    box-sizing: border-box;
}

header {
    padding: 1em;
    background-color: #FFF8DC;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.menu {
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: whitesmoke;
}

header, main, footer {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

body h1, h2, h3 {
    text-align: center;
}

#top h1 {
    font-size: 3em;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.logo img {
    width: 30%;
    height: auto;
}

a {
    color: deeppink;
    text-decoration: none;
    padding: 0px;
}

a:hover {
    color: darkmagenta;
    font-size: 1.3rem;
}

.row-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
}

footer {
    margin: 1em;
}
