* {
    box-sizing: border-box;
}

header {
    margin: 1em;
    color: #FFF8DC;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: whitesmoke;
    align-content: center;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.logo img {
    width: 30%;
    height: auto;
}

a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}
